<mat-nav-list>
  <a mat-list-item [routerLink]="['/']">
    <span class="entry">
      <mat-icon>house</mat-icon>
      <span>Dashboard</span>
    </span>
  </a>
  <a mat-list-item [routerLink]="['/settings']">
    <span class="entry">
      <mat-icon>settings</mat-icon>
      <span>Settings</span>
    </span>
  </a>
  <a mat-list-item [routerLink]="['jira-issues']">
    <span class="entry">
      <mat-icon>bug_report</mat-icon>
      <span>Jira Issues</span>
    </span>
  </a>
</mat-nav-list>

