<mat-card class="custom-banner">
<!--  <mat-card-header>-->
<!--    <div mat-card-avatar> <mat-icon>{{ icon }}</mat-icon></div>-->
<!--    <mat-card-title>{{ title }}</mat-card-title>-->
<!--    <mat-card-subtitle>{{ subtitle }}</mat-card-subtitle>-->
<!--  </mat-card-header>-->

  <mat-card-content *ngIf="content">
    <div mat-card-avatar> <mat-icon>{{ icon }}</mat-icon>
    </div>
    {{ content }}
  </mat-card-content>

  <mat-card-actions align="end" *ngIf="actions">
    <!-- Actions can be added here -->
  </mat-card-actions>
</mat-card>
